@use "../variables" as *;
@use "../mixins" as *;


.quote{
  padding-top: 23px;
  color: $general;
  &__wrap{
    display: flex;
    gap: 95px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }
  &__image{
    max-width: 597px;
    width: 100%;
    display: flex;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }
  &__content{
    flex: 1;
    max-width: 679px;
    width: 100%;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }
  &__text{
    img{
      width: 88px;
    }

    p+p{
      font-weight: 400;
      font-size: 30px;
      line-height: 39px;
      padding-top: 40px;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: normal;
      }
    }
  }
  &__meta{
    padding-top: 70px;
    font-family: $heading-font;
  }
  &__author{
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0%;
  }
  &__position{
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0%;

  }
}