@use "../variables" as *;
@use "../mixins" as *;
@use "swiper/swiper" as *;
@use "swiper/modules/navigation" as *;

.services{
  padding: 80px 0 108px ;
  color: $general;
  text-align: center;
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    padding: 40px 0 40px;
  }
  &__title{
    padding-bottom: 20px;
  }
  &__subtitle{
    padding-bottom: 48px;
    max-width: 602px;
    width: 100%;
    margin: 0 auto;
  }

  &__card-icon{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-40px, -14px);
    img{
      max-width: 78px;
      height: 78px;
    }
  }
  &__card-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 8px;
  }
  &__btn{
    color:$primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    &:hover{
      color: $brand-dark-green;
    }
    &:hover svg path{
      stroke: $brand-dark-green;
    }
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-prev{
    left: 0;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-next{
    right: 0;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next,
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev{
    background: $white;
    border: 1px solid $primary;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(0px, 35px);
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after{
      color: $general;
      font-size: 12px;
  }
}