@use "../variables" as *;
@use "../mixins" as *;

.statistic{
  padding-bottom: 120px;
  font-family: $body-font;
  border-bottom: 1px solid #D4D4D4;

  &__flex{
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  &__item{
    border: 1px solid $primary;
    border-radius: 100%;
    max-width: 261px;
    width: 100%;
    min-height: 261px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:7px;
    color: $general;
  }
  &__number{
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 89px;
    a{
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: none;
      padding: 16px 80px;
      border-radius: 30px;
    }
  }
}