@use "../variables" as *;
@use "../mixins" as *;


.sustainability{
  max-width: 1512px;
  margin: 0 auto;
  width: 100%;
  &--green{
    border-top: 1px solid #E7E7E7;
    padding-top: 100px;
    @include media-breakpoint-down(lg) {
      padding-left: 40px;
    }
    .sustainability__content{
      background-color: rgba($primary, .9);
    }
    .sustainability__button{
      background-color: $brand-dark-green;
    }
  }
  &--blue{
    .sustainability__content{
      padding-left: 60px;
      background-color: rgba($brand-blue, .9);
      right: 0;
      @include media-breakpoint-down(lg) {
        padding-left: 30px;
      }
    }
    .sustainability__title+p{
      padding-top: 50px;
      padding-bottom: 64px;
    }
    .sustainability__button{
      background-color: $brand-dark-blue;

    }
  }
  &__grid{
    position: relative;
  }
  &__media img{
    display: flex;
    height: 739px;
    @include media-breakpoint-down(lg) {
      height: auto;
    }
  }
  &__content{
    position: absolute;
    height: 100%;
    max-width: 766px;
    width: 100%;
    padding-top: 121px;
    color: $white;
    padding-left: 47px;
    @include media-breakpoint-down(lg) {
      position: static;
      max-width: 100%;
      padding: 30px;
    }
  }
  &__title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: 0%;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
      font-size: 26px;
      line-height: normal;
    }
  }
  &__title+p{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0%;
    padding-bottom: 83px;
    max-width: 636px;
    width: 100%;
    padding-top: 30px;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      font-size: 16px;
      padding-bottom: 30px;
    }
  }
  &__btn{
    display: flex;
  }
  &__button{
    padding: 17px 70px;
    &:hover{
      opacity: .7;
    }
  }
}