@use "variables" as *;
@use "mixins" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font-size: 16px;
  margin: 0;

  &.admin-bar {
    min-height: calc(100vh - 32px);
  }
}

//for section

h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: $general;
  padding-bottom: 27px;
  margin: 0;
  @include media-breakpoint-down(lg) {
    font-size: 26px;
    padding-bottom: 20px;
  }
}
h2+p{
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: center;
  color: $general;
  padding-bottom: 73px;
  max-width: 879px;
  width: 100%;
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.thm-lazy-loading {
  display: block;
  font-size: 0;
  opacity: 0;
}

h1,h2,h3,h4,h5,h5 {
  font-family: $heading-font;
}

p,span,a,ul,ol {
  font-family: $body-font;
}

a{
  text-decoration: none;
  transition: all .5s;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

.lock-scroll {
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 1446px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.logo-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}