@mixin transition($value: color 0.3s ease) {
  @media (hover: hover) {
    transition: $value;
  }
}

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

@mixin media-breakpoint-down($name) {
  $max-width: map-get($grid-breakpoints, $name);

  @if $max-width {
    @media (max-width: ($max-width - 1)) {
      @content;
    }
  }
}

@mixin media-breakpoint-up($name) {
  $min-width: map-get($grid-breakpoints, $name);

  @if $min-width {
    @media (min-width: $min-width) {
      @content;
    }
  }
}