@use "variables" as *;
@use "mixins" as *;

.p,
p {
    font-size: 16px;
    font-family: $body-font;

    &:last-child {
        margin-bottom: 0;
    }
}

small,
.small {
    font-size: 14px;
}

// ----- LIST ----- //
li{
    list-style: none;
}
ul,
ol {
    padding-left: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.list-inline {
    li {
        display: inline-block;
    }
}

.btn {
    font-size: 14px;
    font-family: $body-font;
    letter-spacing: 1.5px;
    color: $white;
    border-radius: 16px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    padding: 7px 17px;
    background: $primary;

    &:hover,
    &:focus {
        background-color: $brand-dark-green;
    }

    @include transition();
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    @include transition();
}