@use "variables" as *;

///* Roboto */
//@font-face {
//  font-family: 'Roboto';
//  src: url('#{$theme_folder}/src/fonts/roboto/Roboto-Black.woff2') format('woff2');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('#{$theme_folder}/src/fonts/roboto/Roboto-Bold.woff2') format('woff2');
//  font-weight: 700;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('#{$theme_folder}/src/fonts/roboto/Roboto-Medium.woff2') format('woff2');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('#{$theme_folder}/src/fonts/roboto/Roboto-Regular.woff2') format('woff2');
//  font-weight: 400;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('#{$theme_folder}/src/fonts/roboto/Roboto-Light.woff2') format('woff2');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Roboto';
//  src: url('#{$theme_folder}/src/fonts/roboto/Roboto-Thin.woff2') format('woff2');
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//}
//
///* Lato */
//@font-face {
//  font-family: 'Lato';
//  src: url('#{$theme_folder}/src/fonts/lato/Lato-Black.woff2') format('woff2');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: url('#{$theme_folder}/src/fonts/lato/Lato-Bold.woff2') format('woff2');
//  font-weight: 700;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: url('#{$theme_folder}/src/fonts/lato/Lato-Regular.woff2') format('woff2');
//  font-weight: 400;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: url('#{$theme_folder}/src/fonts/lato/Lato-Light.woff2') format('woff2');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: url('#{$theme_folder}/src/fonts/lato/Lato-Hairline.woff2') format('woff2');
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//}
//

/* Inter */
@font-face {
  font-family: 'Inter 18pt';
  src: url('#{$theme_folder}/src/fonts/Inter/Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('#{$theme_folder}/src/fonts/Inter/Inter18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('#{$theme_folder}/src/fonts/Inter/Inter18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('#{$theme_folder}/src/fonts/Inter/Inter18pt-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
