@use "variables" as *;
@use "mixins" as *;

.footer {
  background-color: $brand-gray;
  padding: 90px 0 80px 0;
  li, ul{
    padding-left: 0;
    margin: 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 73px;
    gap: 20px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap:50px;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 0;
    margin-bottom: 29px;
    color: $white;
  }
  &__points{
    display: flex;
    flex-direction: column;
    gap:17px;
    margin-bottom: 57px !important;
  }
  &__point{
    display: flex;
    align-items: center;
    gap:15px;
    a{
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
      &:hover{
        color:$primary;
      }

    }
  }
  &__point-icon{
    img{
      max-width: 20px;
    }
  }
  &__location-btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 36px;
    border-radius: 30px;
    text-transform: none;
    justify-content: flex-start;
    letter-spacing: 0;
    height: 49px;

  }
  &__left-side{
    flex: 50%;
  }
  &__right-side{
    max-width: 930px;
    width: 100%;
  }
  &__form{
    padding-bottom: 96px;
    .gform_title{
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 39px;
      margin-top: 0;
    }
    .gform-theme--framework .gform_validation_errors{
      display: none;
    }
    .gform-theme--framework .field_description_below .gfield_description:where(:not(.ginput_counter_tinymce):not(.gfield_creditcard_warning_message)){
      position: absolute;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
    }
  }
  form{
    display: flex;
    align-items: center;
    gap: 17px;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
    .gform_body{
      max-width: 602px;
      width: 100%;
      input{
        border: 1px solid #7D7D7D;
        border-radius: 30px;
        padding: 16px 20px;
        height: 49px;
        background: transparent;
        color: $white;
        font-family: $body-font;
        &:focus{
          border: 1px solid $primary;
          box-shadow: none;
        }
        &::placeholder{
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          color: #999999;
          font-family: "Inter" , sans-serif;
        }
      }
    }
    .gform_footer {
      margin-top: 0;
      input[type="submit"].gform_button {
        font-size: 16px !important;
        font-family: $body-font !important;
        letter-spacing: 1.5px !important;
        color: $white !important;
        border-radius: 30px !important;
        font-weight: 500 !important;
        line-height: 100% !important;
        padding: 16px 116px !important;
        background-color: $primary !important;
        @include media-breakpoint-down(md) {
          padding: 16px 60px !important;
        }
        &:hover{
          background-color: $brand-dark-green !important;
        }
      }
    }
    .gform-loader {
      width: 24px;
      position: absolute !important;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      background-size: contain;
    }
    .gform_confirmation_message_1 gform_confirmation_message{
      color: $primary;
      font-size: 18px;
      font-family: "Inter", sans-serif;
    }
  }
  &__navigation{
    #menu-footer-menu{
      display: grid;
      grid-template-columns: repeat(4, auto);
      color:$white;
      padding: 0;
      margin: 0;
      column-gap:100px;
      row-gap: 50px;
      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(3, auto);
      }
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(2, auto);
        column-gap:100px;
      }
      .menu-item{
        flex: 1 1 150px;
        a{
          font-weight: 700;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
          color: $white;
        }
      }
      .menu-item-has-children{
        .sub-menu{
          display: grid;
          grid-gap: 18px;
          padding: 0;
          margin-top: 20px;
          a{
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            text-transform: uppercase;
            &:hover{
              color: $primary;
            }
          }
        }
      }
    }
  }
  &__bottom-navigation{
    padding-bottom: 29px;
    #menu-footer-bottom{
      margin: 0;
      padding: 0;
      display: flex;
      gap:22px;
      .menu-item a{
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color:$white;
        &:hover{
          color: $primary;
        }
      }
    }
  }
  &__bottom-content{
    border-top: 1px solid #666666;
    padding-top: 43px;
    &--inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__social-list{
    display: flex;
    gap:9px;
  }
  &__social-item {
    a{
      padding: 12px 13px;
      border: 1px solid #7D7D7D;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover img{
        filter: opacity(0.5);
      }
      img{
        width: 13px;
      }
    }
  }
  &__copyright-text p{
    margin-top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $white;
  }
}