@use "variables" as *;
@use "mixins" as *;
@use "sass:math";

.header {
  position: absolute;
  padding-top: 13px;
  z-index: 10;
  font-family: $heading-font;
  width: 100%;

  .site-logo {
    margin-bottom: 0;

    img {
      max-width: 154px;
      @include media-breakpoint-down(sm) {
        max-width: 90px;
      }
    }
  }
  &__inner{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 23px;
    gap: 20px;
    @include media-breakpoint-down(xl) {
      align-items: center;
    }
  }
  &__top-text {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3px;
    color: $white;
    padding: 7px 6px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    max-width: 529px;
    width:100%;
    margin: 0 auto;
  }
  &__buttons{
    display: flex;
    gap: 7px;
    align-items: center;
    padding-top: 9px;
    @include media-breakpoint-down(xl) {
      margin-right: auto;
      padding-top: 0;
    }
    .btn-store{
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: $white;
      background: transparent;
      padding: 0;
    }
    .btn-connect{
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      color: $white;
      padding: 7px 12px;
      background: $primary;
      &:hover{
        border: none;
        background: $brand-dark-green;
      }
    }
  }
  &__navigation{
    padding-top: 11px;
    margin-left: 0;
    @include media-breakpoint-up(xl) {
      margin-left: 45px;
    }
  }
  #primary-menu li:hover > .sub-menu {
    @include media-breakpoint-down(xl) {
      display: none !important;
    }

  }
  #primary-menu {
    position: static;
    
    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }
  #menu-header.open {
    display: block;
  }
  #menu-header {
    margin-top:0;
    padding-left: 0;
    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 0;
      height: 100dvh;
      left: 0;
      padding: 130px 20px;
      display: none;
      width: 100%;
      background-color: white;
    }

    > li {
      padding: 0 8px;
      position: relative;

      @include media-breakpoint-down(lg) {
        display: block;
        row-gap: 16px;
        margin-bottom: 8px;
      }
      .sub-menu-link{
        font-size: 12px;
        text-transform: none;
      }

      &.menu-item-has-children {
        font-size: 12px;
        @include media-breakpoint-up(lg) {
          &:hover,
          &:focus {
            > .sub-menu {
              display: grid;
            }

            .menu-chevron {
              i {
                transform: rotate(180deg);
              }
            }
          }
        }

        .menu-chevron {
          display: inline-block;
          padding-left: 10px;
          svg{
            fill: $general;
          }

          @include media-breakpoint-down(lg) {
            position: relative;
            display: inline-block;
            justify-content: center;
            align-items: center;
            padding: 4px;
            margin-left: auto;
            border-radius: 3px;
          }

          i {
            @include transition();
          }

          &.active {
            i {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: $white;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg) {
        color:$general;
      }
      .menu-chevron svg use{
        fill: $white;
        @include media-breakpoint-down(lg) {
          fill:$general;
        }
      }

      @include media-breakpoint-down(lg) {
        display: flex;
        width: 100%;
      }
    }
    .sub-menu.open {
      max-height: max-content;
      display: block;
    }

    .menu-item-has-children:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible;
      max-height: none;
    }

    .sub-menu {
      display: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 100%;
      transition: all 0.3s ease;
      overflow: hidden;
      max-height: 0;
        @include media-breakpoint-up(lg) {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: rgba( $white, .2 );
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
          row-gap: 20px;
          width: 100%;
          padding: 20px;
          opacity: 1;
          visibility: visible;
        }
    }
  }

  .navbar-toggle-button {
    position: relative;
    background: transparent;
    border: none;
    display: flex;
    width: 30px;
    height: 24px;
    padding: 0;
    align-items: center;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $black;
      border-radius: 4px;
      transition: top .15s ease-in-out .15s, transform .15s ease-in-out ;
      transform: translateY(-50%);
    }

    &:before {
      top: 0;
    }

    &:after {
      top: 100%;
    }

    .navbar-toggle-line {
      display: inline-block;
      background-color: $black;
      height: 3px;
      width: 100%;
      border-radius: 4px;
      transition: opacity .3s ease-in-out;
    }

    &.active {
      .navbar-toggle-line {
        opacity: 0;
      }

      &:before,
      &:after {
        transition: transform .15s ease-in-out .15s, top .15s ease-in-out;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:after {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}
